---
import LandingPageWrapper from "../components/LandingPageWrapper.jsx";
import config from "../config/config";
import "../index.css";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Primary Meta Tags -->
    <title>{config.data.title}</title>
    <meta name="title" content={config.data.title} />
    <meta name="description" content={config.data.description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={config.data.url} />
    <meta property="og:title" content={config.data.title} />
    <meta property="og:description" content={config.data.description} />
    <meta
      property="og:image:url"
      content={`${config.data.url}/images/og-image.jpg`}
    />
    <meta
      property="og:image:alt"
      content={`${config.data.groomName} & ${config.data.brideName} Wedding Invitation`}
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://my-wedding-sooty.vercel.app/"
    />
    <meta property="twitter:title" content={config.data.title} />
    <meta property="twitter:description" content={config.data.description} />
    <meta
      property="twitter:image"
      content="https://my-wedding-sooty.vercel.app/images/og-image.jpg"
    />

    <!-- WhatsApp and Social Media Optimization -->
    <meta
      name="author"
      content={`${config.data.groomName} & ${config.data.brideName}`}
    />
    <meta name="robots" content="index, follow" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href={config.data.favicon} />

    <!-- Theme Color -->
    <meta name="theme-color" content="#FDA4AF" />

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");
    </style>
  </head>
  <body>
    <LandingPageWrapper client:load />
  </body>
</html>
